<div ng-app="openchat" id="openchat" class="container">
    <div ng-controller="basic">
        <div class="row mb20 mt20">
            <span class="label label-success span1" ng-show="is_connected()">connected</span>
            <span class="label label-warning span1" ng-show="!is_connected()">disconnected</span>
        </div>
        <div  class="row  mb20 form-inline">
            <div class="span12">
                <span class="label-info label ">user</span>
                <a class="btn" ng-click="user_detect('weibo')">oauth</a>
                <div>
                    <input type="text" ng-model="current_user.name">
                    <input type="button" class="btn btn-primary" ng-click="connect()" value="connect">
                    <input type="button" class="btn btn-danger" ng-click="disconnect()" value="disconnect">
                </div>
            </div>
        </div>
        <div ng-controller="private_chat"  id="chat_window_container">
            <div id="chat_window_shortcut" ng-show="chat_window_status.mode=='shortcut'">
                <span class="user_shortcut" ng-class="user.unread&&'active'"  ng-repeat="user in conversations" ng-click="user.unread=false;chat_window_status.mode='full'">{{user.name}}</span>
            </div>
            
            <div id="chat_window" ng-show="chat_window_status.mode=='full'">
                <div id="chat_window_user_head">
                    <span id="chat_window_user_head_avatar" ng-show="current_conversation.avatar" >
                        <img src="{{current_conversation.avatar}}">
                    </span>
                    <span id="chat_window_user_head_name">{{ current_conversation.name }}</span>
                    <span id="chat_window_close" ng-click="chat_window_status.mode='shortcut'">X</span>
                </div>
                <div>
                    <div id="chat_window_user_list" ng-show="object_length( conversations)>1">
                        <div class="chat_window_user_name" ng-show="current_conversation.name!=user.name" ng-repeat="user in conversations">
                            <span ng-click="set_current_conversation(user)">{{ user.name }}</span>
                        </div>
                    </div>
                    <div id="chat_window_main">
                        <div id="chat_window_current_conversation">
                            <div ng-repeat="message in current_conversation.messages">
                                <div class="message" ng-class="message.source.name==current_user.name&&'mine'">{{message.message}}</div>
                            </div>
                        </div>
                        <div  id="chat_window_send_message" ng-init="_message=null" ng-show="user.name!='server'"> 
                            <textarea ng-model="_message" ></textarea>
                            <input type="button" class="btn" ng-click="send_message( _message, user)" value="send">
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div ng-controller="user_list" id="user_list_container">
            <div id="user_list">
                <div class="user_list_user" ng-repeat="user in users" ng-click="set_target(user)">
                    <div class="user_list_avatar_small">
                        <img src="{{user.avatar}}">
                    </div>
                    <div class="user_list_name">{{user.name}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

