<div ng-app="openchat" id="openchat" class="container">
    <div ng-controller="basic">
        <div class="row mb20 mt20">
            <span class="label label-success span1" ng-show="is_connected()">connected</span>
            <span class="label label-warning span1" ng-show="!is_connected()">disconnected</span>
        </div>
        <div  class="row  mb20 form-inline">
            <div class="span12">
                <span class="label-info label ">user</span>
                <a class="btn" ng-click="user_detect('weibo')">oauth</a>
                <div>
                    <input type="text" ng-model="current_user.name">
                    <input type="button" class="btn btn-primary" ng-click="connect()" value="connect">
                    <input type="button" class="btn btn-danger" ng-click="disconnect()" value="disconnect">
                </div>
            </div>
        </div>
        <div ng-controller="private_chat">
            <div  class="row" >
                <div class="span6">
                    <div class="row" ng-repeat="user in conversations">
                        <span class="span1 btn"><span class="icon-user"></span>{{user.name}}</span>
                        <div class="span6 alert" ng-repeat="message in user.messages" ng-class="message.source.openchatId==current_user.openchatId && 'tar'">
                            {{message.message}}
                        </div>
                        <div  class="form-inline span6" ng-init="_message=null" ng-show="user.name!='server'"> 
                            <input type="text" ng-model="_message"class="span4">
                            <input type="button" class="btn" ng-click="send_message( _message, user)" value="send">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-controller="user_list">
            <div id="user_list">
                <div class="row"  ng-repeat="user in users" ng-click="set_target(user)">
                    <div class="btn span1 tal">
                        <span class="icon-user"></span>{{user.name}}  
                        <span class="icon-ok" ng-show="userSelected[user.openchatId]"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

